<!DOCTYPE html>
<html>
<head>
  <title>Love Notes</title>
  <style>
    ul {
      list-style-type: none;
    }
    ul li:before {
      content: "\2665 \0020";
    }
  </style>
</head>
<body>
<h1>Check out these sweet Love Notes.</h1>
<hr>
<%= yield %>
</body>
</html>